<div class="row">
    <div class="col-md-6">
        <%= f.InputTag("Title") %>
    </div>
    <div class="col-md-6">
        <%= f.InputTag("Deadline", {label: "Limit Date", type: "date", values: ""}) %>
    </div>
    <div class="col-md-12">
        <%= f.TextArea("Details", {rows: 10}) %>
    </div>
</div>
<div>
    <span class="createTask-buttons">
        <a class="text-dark" href="/"><button type="button" class="btn mb-3 ml-auto btn-lg cancel-button">Cancel</button></a>
        <a><input type="submit" value="<%= btnText %>" class="btn btn-dark mb-3 ml-auto btn-lg createTask-button"></a>
    </span>
</div>