<div>
    <div class="todo-content">
        <%= partial("partials/navbar.plush.html") %>
        <div class="d-flex pr-5">
            <button type="button" class="btn btn-dark mb-3 ml-auto btn-lg addTask-button"><a href="<%= newTodoPath() %>">Add Task</a></button>
        </div>
        <div class="px-5">
            <table class="table">
                <thead>
                <tr class="text-white">
                    <th scope="col">Task</th>
                    <th scope="col">Complete By</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <%= for (index, todo) in todos { %>
                    <tr>
                        <td scope="row" class="task-color"><i class="fas fa-check-circle mr-3 gray-text"></i><%= todo.Title %></td>
                        <td class="limit-date"><%= todo.Deadline.Format("Mon Jan 02") %></td>
                        <td><a href="<%= editTodoPath({todo_id: todo.ID}) %>"><i class="fas fa-pencil-alt mr-3 gray-text"></i></a><i class="fas fa-trash-alt red-text"></i></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
</script>