@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// This is just some CSS for the welcome home landing page, feel free to 
// remove it.
.welcome {
    width: 700px;
    margin: 0 auto;
    
    img { 
        width: 300px;
    }

    h1 {
        font-size: 2rem;
    }
}

.task-color {
    color: rgb(120,196,220)
}

.navbar {
    background-color: rgb(120,196,220)
}

a {
    color: white;
}

.addTask-button {
    background-color: rgb(120,196,220);
    border: none
}

.createTask-buttons {
    float: right;
    padding-top: 15px;
}

.createTask-button {
    background-color: rgb(120,196,220);
    border: none
}

thead th {
    background-color: #204464;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

table {
    border-collapse: collapse;
    background-color: white;
    border-radius: 3px;
    border-style: hidden; 
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

thead th:first-of-type {
    border-top-left-radius: 3px; 
}

thead th:last-of-type {
    border-top-right-radius: 3px;
}

.gray-text {
    color: gray;
    opacity: 0.5;
}

.red-text {
    color: red;
    opacity: 0.3;
}

html,body {
   height: 100%
}

.todo-content {
    height: 100vh;
    background-color: #f8f4f4;
}

.footer-bottom {
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
    height: 40vh;
 }

 .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
 
.form-box {
    background-color: white;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.new-task-label {
    padding-top: 20px; 
    padding-bottom: 20px;
}

.cancel-button {
    background-color: #fffcfc;
}